button {
  background-color: black;
  box-shadow: 0px 5px 25px rgba(16, 16, 16, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  transform: rotate(0);
  transition: .3s ease;
}

button:hover {
  transform: scale(1.2);
}