.agregar {
  background-color: rgb(10, 166, 239);
  box-shadow: 0px 5px 25px rgb(10, 166, 239);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #e3dddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  transform: rotate(0);
  transition: .3s ease;
}

.agregar:hover {
  transform: scale(1.2);
  box-shadow: 0px 5px 25px rgb(10, 166, 239);
}