.form{
  display: flex;
  flex-direction: column;
  align-items: stretch;      /* que ocupe todo el ancho disponible */
  gap: 16px;                 /* separación uniforme entre elementos */
}

/* Título o label principal */
.label{
  text-align: center;
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 16px;
}


/* Textarea o input */
.textarea{
  width: 100%;
  min-height: 80px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.textarea:focus {
  border-color: rgb(10, 155, 222); /* azul */
  outline: none; /* quita el borde por defecto del navegador */
}

/* Contenedor de botones */
.contenedor-botones{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 4px;
}

/* Estilo base para ambos botones */
.contenedor-botones button{
  min-width: 110px;
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 0.95rem;
  cursor: pointer;
  font-size: 16px;
}

/* Cancelar = acción secundaria */
.btn-cancelar{
  background: #f3f3f3;
  color: #333;
  border-color: #d0d0d0;
}
.btn-cancelar:hover{
  background: #e4e4e4;
}

/* Confirmar = acción principal */
.btn-confirmar{
  background: rgb(10, 166, 239);       /* azul */
  color: #fff;
}
.btn-confirmar:hover{
  background: rgb(9, 146, 209);
}
