body {
    display: flex;
    font-family:'Inter', sans-serif;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 246, 246);

}

@media (max-width: 600px) {
  body {
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
  }

  #root {
    padding: 0.5rem;
  }
}