/* Tarjeta de la tarea */
.lista {
  list-style: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 50px;
  width: 780px;
  gap: 10px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.parrafo {
  flex: 1;               /* ocupa el espacio entre iconos */
  margin: 0;
}

/* Texto tachado cuando está completado */
.parrafo-check {
  text-decoration: line-through;
}

.check{
  font-size: 20px;
  cursor: pointer;
  color: rgb(48, 48, 48);
}

.check-active {
  color: rgb(10, 166, 239);
  pointer-events: none;
  transform: scale(1.3);     /* tamaño final */
  opacity: 1;
  animation: pop 0.3s forwards;
}

.remove{
  color: rgb(105, 104, 104);
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.remove:hover{
  color: rgb(0, 0, 0);
  transform: scale(1.5);
}

.edit{
  color: rgb(105, 104, 104);
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.edit:hover{
  color: rgb(0, 0, 0);
  transform: scale(1.5);
}

@media (max-width: 865px) {
  .lista {
    width: 80%;          /* Ocupa casi todo el ancho de la pantalla */
    padding: 8px 12px;   /* Ajustamos padding */
    height: auto;        /* Altura automática según contenido */
    margin-bottom: 15px; /* Espacio entre tarjetas */
    gap: 8px;            /* Separación entre elementos más compacta */
  }
}