.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000; /* MUY importante */
  
}

.contenido-modal{
  background: white;
  padding: 24px;
  border-radius: 12px;

  min-width: 400px;
  max-width: 600px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

@media (max-width: 600px) {
  .contenido-modal {
    width: 80%;        /* Ocupa casi todo el ancho de la pantalla */
    min-width: unset;  /* Quitamos el min-width grande de desktop */
    max-width: unset;  /* Quitamos el max-width de desktop */
    padding: 16px;     /* Ajustamos padding para móvil */
    border-radius: 8px; /* Bordes un poco más pequeños */
  }
}
