.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.btn-home {
  margin-top: 20px;
  padding: 10px 20px;

  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 8px;
}

.btn-home:hover {
  background: #0ea5e9;
}