h1 {
    text-align: center;
    color: black;

}

#color{
    color: rgb(10, 166, 239);
}

.contenedor-titulo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 700px) {
  .contenedor-titulo {
    text-align: center;
    justify-content: center;
  }
}

